@font-face {
  font-family: 'Helvetica';
  src: url('fonts/Helvetica.eot');
  src: url('fonts/Helvetica.woff2') format('woff2'),
       url('fonts/Helvetica.woff') format('woff'),
       url('fonts/Helvetica.ttf') format('truetype'),
       url('fonts/Helvetica.svg#Helvetica') format('svg'),
       url('fonts/Helvetica.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}